@model TodoListViewModel
@{
    ViewData["Title"] = "Todo List";
}

<h2>@ViewData["Title"]</h2>

<div>
    <ul>
        @foreach (TodoListItem item in Model.List)
        {
        <li>
            <a href="/Todo/Edit/@item.Id">@item.Text</a>
            @if (item.IsEdited)
            {
                <text>(edited </text>
                
                @item.EditDate
                
                <text>)</text>

            }
        </li>
        }
    </ul>
</div>
@Model.List[0].check
